<h1>MongoScraper Home Page</h1>
<h3>Check out the latest articles from TechCrunch.com!</h3>
<button class="scrape-new">Scrape</button><span class="scrape-result"></span>
<div class="article-container"></div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="../../assets/javascript/index.js"></script>